.characters-title {
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    color: #fd6895;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
}

.character-card {
    width: 260px;
    background: #302f3f;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Чтобы сразу были видны */
.character-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
}

.character-card h3 {
    margin-top: 12px;
    font-size: 20px;
    color: #fd6895;
}

.character-card p {
    font-size: 15px;
    color: #fd6895;
    line-height: 1.4;
    margin-top: 5px;
}

/* Hover */
.character-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}