
.title {
    margin-top: 40px;
    font-size: 40px;
    color: #ff8fb8;
    text-align: center;
    margin-bottom: 25px;
}

main p {
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 40px;
    color: #ffd2e2;
    background: #302f3f;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 15px #00000055;
}


.subtitle {
    font-size: 28px;
    color: #ff9abe;
    margin-bottom: 20px;
}


.episodes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 50px;
}

.episodes li {
    background: #fd6895;
    color: #fff;
    padding: 16px 20px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 12px #00000040;
    transition: 0.3s;
}

.episodes li:hover {
    transform: translateX(10px);
    background: #ff7aaa;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background: #302f3f;
}

.inner-footer {
    text-align: center;
    font-weight: bold;
    color: #fd6895;
}

@media (max-width: 900px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 28px;
    }
    main p {
        font-size: 16px;
    }
    .episodes li {
        font-size: 16px;
    }
}
.oval-container {
    text-align: center;
}

#ovalBall {
    transition: transform 0.05s linear;
}

#episodeNumbers text {
    fill: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
    paint-order: stroke;
    stroke: #000000;
    stroke-width: 1px;
}

#currentEpisode {
    color: #ff5e8c;
    font-weight: bold;
    font-size:16px;
    margin-top: 15px;
}



